<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Selenium.WebDriverManager.WebDriverManager_TC02_Firefox"/>
      <class name="Selenium.WebDriverManager.WebDriverManager_TC01_Chrome"/>
      <class name="Selenium.WebDriverManager.WebDriverManager_TC04_Edge"/>
      <class name="Selenium.WebDriverManager.WebDriverManager_TC05_Opera"/>
       <class name="Selenium.WebDriverManager.WebDriverManager_TC03_InternetExplorer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
